# Name: The name of the application
# ##########################
# VAPI_NAME=

# Debug: Whether to run the application in debug mode
# ##########################
# VAPI_DEBUG=false

# Log Settings
# Level:               One of DEBUG, INFO, WARNING, ERROR, CRITICAL
# File Path:           If empty, no logs written to disk.
# asgi server level:   One of DEBUG, INFO, WARNING, ERROR, CRITICAL
# saq level:           One of DEBUG, INFO, WARNING, ERROR, CRITICAL
# root level:          One of DEBUG, INFO, WARNING, ERROR, CRITICAL
# Request Log Fields:  Fields to extract and log from the request
#                      ['path', 'method', 'content_type', 'headers', 'cookies', 'query',
#                      'path_params', 'body', 'scheme', 'client']
# Response Log Fields: Fields to extract and log from the response.
#                      ['status_code', 'headers', 'body', 'cookies']
# Obfuscate Headers:   List of response headers to obfuscate in the log
# Obfuscate Cookies:   List of cookies to obfuscate in the log
# log_exceptions:      Whether to log exceptions. ['always', 'debug', 'never']
# time_in_console:     Whether to log the time in the console.
# ##########################
# VAPI_LOG__LEVEL=INFO
# VAPI_LOG__FILE_PATH=
# VAPI_LOG__ASGI_SERVER_LEVEL=INFO
# VAPI_LOG__SAQ_LEVEL=INFO
# VAPI_LOG__ROOT_LEVEL=INFO
VAPI_LOG__REQUEST_LOG_FIELDS='["path","method","query","path_params","body","client"]'
VAPI_LOG__RESPONSE_LOG_FIELDS='["status_code"]'
VAPI_LOG__OBFUSCATE_HEADERS='["Authorization","X-CSRF-TOKEN","X-API-KEY"]'
VAPI_LOG__OBFUSCATE_COOKIES='["session","XSRF-TOKEN"]'
VAPI_LOG__LOG_EXCEPTIONS="debug"
VAPI_LOG__TIME_IN_CONSOLE=true

# Authentication Encryption Key: The key used to encrypt authentication data
# ##########################
VAPI_AUTHENTICATION_ENCRYPTION_KEY=

# MongoDB Settings
# ##########################
VAPI_MONGO__URI=mongodb://localhost:27017
VAPI_MONGO__DATABASE_NAME=valentina-noir

# Redis Settings
# ##########################
VAPI_REDIS__URL=redis://localhost:6379/0
# VAPI_REDIS__TIMEOUT=5
# VAPI_REDIS__HEALTH_CHECK_INTERVAL=5
# VAPI_REDIS__KEEPALIVE=true


# Stores: Configure the data stores (typically Redis)
# Note: All cache keys are prepended with a slugified string of the
#       application name
# ##########################
VAPI_STORES__TTL=120
# VAPI_STORES__AUTHENTICATION_CACHE_KEY=auth_cache
# VAPI_STORES__RESPONSE_CACHE_KEY=response_cache
# VAPI_STORES__GUARD_SESSION_KEY=guard_session
# VAPI_STORES__RATE_LIMIT_KEY=rate_limit
# VAPI_STORES__USER_ROLE_KEY=user_role

# Server Settings
# host:        The host to run the server on use ``0.0.0.0`` in docker
#               or ``127.0.0.1`` for local development
# port:        The port to listen on
# scheme:      The scheme to use for the server
# keep_alive:  The keep alive time in seconds
# reload:      Whether to reload the server on code changes (for development)
# reload_dirs: The directories to watch for changes (for development)
# ##########################
VAPI_SERVER__HOST=0.0.0.0
VAPI_SERVER__PORT=8000
VAPI_SERVER__SCHEME=https
# VAPI_SERVER__KEEP_ALIVE=65
# VAPI_SERVER__RELOAD=false
# VAPI_SERVER__RELOAD_DIRS=./src

# Rate Limit Settings
# encryption_key:   The encryption key used to encrypt data in the store
# Policies:         A dictionary of rate limit policies each containing the following fields:
#    - name:        The name of the policy
#    - capacity:    The capacity of the policy
#    - refill_rate: The refill rate of the policy in seconds
#    - set_headers: Whether to set response headers for the policy
#    - set_429_headers: Whether to set 429 response headers for the policy
# ##########################
VAPI_RATE_LIMIT__ENCRYPTION_KEY=
# VAPI_RATE_LIMIT__POLICIES__0__NAME=hourly
# VAPI_RATE_LIMIT__POLICIES__0__CAPACITY=1000
# VAPI_RATE_LIMIT__POLICIES__0__REFILL_RATE=0.27 # 100/hour
# VAPI_RATE_LIMIT__POLICIES__0__SET_HEADERS=true
# VAPI_RATE_LIMIT__POLICIES__0__429_SET_HEADERS=true
# VAPI_RATE_LIMIT__POLICIES__1__NAME=burst
# VAPI_RATE_LIMIT__POLICIES__1__CAPACITY=30
# VAPI_RATE_LIMIT__POLICIES__1__REFILL_RATE=0.5 # 30/minute
# VAPI_RATE_LIMIT__POLICIES__1__SET_HEADERS=true
# VAPI_RATE_LIMIT__POLICIES__1__429_SET_HEADERS=true

# CORS Settings
# allowed_origins: The list of allowed origins
# ##########################
VAPI_CORS__ENABLED=false
VAPI_CORS__ALLOWED_ORIGINS=["*"]
VAPI_CORS__ALLOW_ORIGIN_REGEX=
# OAuth Settings

# discord_client_id:     The client id for the Discord OAuth application
# discord_client_secret: The client secret for the Discord OAuth application
# discord_callback_url:  The callback URL for the Discord OAuth application
# ##########################
VAPI_OAUTH__DISCORD_CLIENT_ID=
VAPI_OAUTH__DISCORD_CLIENT_SECRET=
VAPI_OAUTH__DISCORD_CALLBACK_URL=

# Docker Specific Settings
# docker_bootstrap:        Whether to bootstrap the database in Docker before loading the application
# apiuser_username:        The username of the API user to bootstrap the database
# apiuser_email:           The email of the API user to bootstrap the database
# apiuser_is_global_admin: Whether the API user is a global admin
# ##########################
# VAPI_DOCKER_BOOTSTRAP=false
# VAPI_APIUSER_USERNAME=
# VAPI_APIUSER_EMAIL=
# VAPI_APIUSER_IS_GLOBAL_ADMIN=false


# AWS Settings
# access_key_id:           AWS access key ID
# secret_access_key:       AWS secret access key
# s3_bucket_name:          Name of the S3 bucket to use
# cloudfront_origin_path:  Prefix added to all S3 uploads but not included in the URL
# cloudfront_url:          The URL of the CDN to use (use of a CNAME is recommended)
# ##########################
# VAPI_AWS__ACCESS_KEY_ID=
# VAPI_AWS__SECRET_ACCESS_KEY=
# VAPI_AWS__S3_BUCKET_NAME=
# VAPI_AWS__CLOUDFRONT_ORIGIN_PATH=``
# VAPI_AWS__CLOUDFRONT_URL=

# SAQ Settings
# Use Server Lifespan: Auto start and stop `saq` processes when starting the Litestar application.
# Web Enabled:         If true, the worker admin UI is hosted on worker startup at `/saq/`.
# Processes:           The number of worker processes to start.
# Enabled:             Whether to enable the SAQ plugin.
# Admin Username:      The username of to access the SAQ web UI.
# Admin Password:      The password of to access the SAQ web UI.
# ##########################
# VAPI_SAQ__USE_SERVER_LIFESPAN=True
# VAPI_SAQ__WEB_ENABLED=False
# VAPI_SAQ__PROCESSES=1
# VAPI_SAQ__ENABLED=True
# VAPI_SAQ__ADMIN_USERNAME=admin
# VAPI_SAQ__ADMIN_PASSWORD=admin
