---
name: "Reusable Tests"

on:
    workflow_call:
        inputs:
            run-coverage:
                description: "Run coverage"
                required: false
                type: boolean
                default: false

env:
    VAPI_NAME: "ci-test"
    VAPI_DEBUG: false
    VAPI_AUTHENTICATION_ENCRYPTION_KEY: 95bfffc1521e76be955aa786f623f996c85f49e6a5788e126b85d1d630c30245 # gitleaks:allow
    VAPI_RATE_LIMIT__ENCRYPTION_KEY: 95bfffc1521e76be955aa786f623f996c85f49e6a5788e126b85d1d630c30245 # gitleaks:allow
    VAPI_MONGO__URI: "mongodb://localhost:27017"
    VAPI_MONGO__DATABASE_NAME: "valentina-ci"
    VAPI_REDIS__URL: "redis://localhost:6379/0"
    VAPI_SERVER__HOST: 0.0.0.0
    VAPI_SERVER__PORT: 8000
    VAPI_SERVER__SCHEME: https
    VAPI_CORS__ENABLED: false
    VAPI_DOCKER_BOOTSTRAP: false
    VAPI_OAUTH__DISCORD_CLIENT_ID: "1234567890"
    VAPI_OAUTH__DISCORD_CLIENT_SECRET: "1234567890"
    VAPI_OAUTH__DISCORD_CALLBACK_URL: "https://localhost:8000/api/v1/oauth/discord/callback"

jobs:
    test-python-code:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: true
            matrix:
                python-version: ["3.14"]
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Setup Python, uv, and the package
              uses: ./.github/actions/setup_python_env
              with:
                  python-version: ${{ matrix.python-version }}

            # DEPRECATED: We do not use the MongoDB GitHub Action b/c it ran into rate limit issues with Docker Hub
            # - name: Start MongoDB
            #   uses: supercharge/mongodb-github-action@1.12.1
            #   with:
            #       mongodb-version: "8.0"

            - name: Start MongoDB
              id: start-mongodb
              run: |
                  # Start MongoDB in a Docker container
                  CONTAINER_ID=$(docker run --rm -p=27017:27017 --detach mongo:latest --port=27017)
                  echo "DOCKER_CONTAINER_ID=$CONTAINER_ID" >> "$GITHUB_OUTPUT"

                  # Wait for MongoDB to be ready
                  sleep 5

            - name: Run tests
              shell: bash
              run: uv run duty test

            - name: Upload coverage to Codecov
              if: ${{ inputs.run-coverage && matrix.python-version == '3.14' }}
              uses: codecov/codecov-action@v5
              with:
                  files: .cache/coverage.xml
              env:
                  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

            - name: Shutdown MongoDB
              if: ${{always() && steps.start-mongodb.outputs.DOCKER_CONTAINER_ID}}
              run: docker stop ${{steps.start-mongodb.outputs.DOCKER_CONTAINER_ID}}

    lint-project:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - uses: actions/cache@v5
              with:
                  path: ~/.cache/prek
                  key: prek-${{ hashFiles('.pre-commit-config.yaml') }}

            - name: Setup Python, uv, and the package
              uses: ./.github/actions/setup_python_env

            - name: run all linters
              shell: bash
              run: uv run duty lint
